= f.input :title, label: 'Subject'
= f.input :customer_name
= f.input :customer_phone
= f.input :description, as: :text, label: 'Comments', input_html: {rows: 3, value: ''}
/= f.input :image, label: 'Add Picture', as: :file, input_html: {accept: 'image/*'}

= f.submit 'Submit', class: 'btn btn-primary btn-lg', data: {:'disable-with'=> 'Submitting ..'}
= link_to 'cancel', dashboard_tickets_path
