- url = @ticket.id.present? ? dashboard_ticket_path(@ticket) : dashboard_tickets_path
= simple_form_for @ticket, url: url do |f|
  = f.input :title, label: 'Subject'
  = f.input :customer_name
  = f.input :customer_phone
  = f.input :description, as: :text, label: 'Comments', input_html: {rows: 3}
  = f.input :image, label: 'Add Picture', as: :file, input_html: {accept: 'image/*'}
  = f.input :status, collection: ['open', 'pending', 'solved'], input_html: {style: 'width: 200px;'}
  - submit_label = @ticket.id ? 'Save' : 'Submit'
  = f.submit submit_label, class: 'btn btn-primary btn-lg', data: {:'disable-with'=> 'Submitting ..'}
  = link_to 'cancel', dashboard_tickets_path
