- url = @ticket.id.present? ? dashboard_ticket_path(@ticket) : dashboard_tickets_path
= simple_form_for @ticket, url: url, html_options: {class: "edit_ticket"} do |f|
  %audio#incoming{:autoplay => ""}
  %audio#ringback{:loop => "", :src => "/ringback.wav"}

  .panel.panel-default
    .panel-heading
      = "Ticket ##{@ticket.ref_number}"
      = f.input :status, collection: Ticket.statuses_for_select, label: false, input_html: {style: 'width: 130px;'}

      :javascript
        window.ticket_id = #{@ticket.id}
        if ($("#new-request").length > 0){
          $("#new-request")[0].pause()
        }

      - if params[:call]
        %script{type: 'text/javascript', "data-turbolinks-eval"=>"always"}
          start_call(#{@ticket.id})
        .pull-right{style:'display: inline-block;margin-top: 5px;'}
          %span.call-status Calling ..
          %button.call-hangup.btn.btn-danger.btn-lg{type: 'button'} Hangup

    .panel-body
      = render 'form', {f: f}

- if @ticket.id.present?
  #call-logs-display{style:'margin-left: 10px;margin-right: 11px;'}
    = render template: 'api/ticket_logs/index', locals: {ticket: @ticket}

- if params[:call]
  = render 'call_dialog'