.panel.panel-default.grid
  .panel-body.filters
    .row
      .col-md-3
        = search_form_for @q, url: dashboard_tickets_path do |f|
          .input-group
            = f.search_field :title_or_description_or_status_or_customer_name_or_agent_first_name_cont, :placeholder => "Quick search...", class: 'form-control', autofocus: true
            %span.input-group-btn
              %button.btn.btn-default{:type => "submit"}
                %i.fa.fa-search &nbsp;
      .col-md-9.text-right
        = link_to new_dashboard_ticket_path, class: 'btn btn-primary' do
          %i.fa.fa-plus
          = "New #{t :ticket}"

  %table.table
    %thead
      %tr
        %th #
        %th Status
        %th Subject
        / %th Comments
        %th Customer
        %th Agent
        %th Department
        %th.actions
          Actions
    %tbody
      - if @tickets.empty?
        %tr.warning
          %td.text-center{colspan: 7}
            \- No records -
      - @tickets.each do |ticket|
        %tr
          %td.nowrap
            %u= ticket.ref_number
          %td.nowrap= ticket.status
          %td= ticket.title
          / %td
          /   = truncate(ticket.description, length: 100){link_to "(show)", '#', class: 'modal-trigger', data: {target: ".ticket-detail-#{ticket.id}"}}
          /   = render "details", {ticket: ticket}
          %td= ticket.customer_name
          %td= ticket.agent.try(:full_name)
          %td= ticket.category
          / %td{class: "#{ticket.image.present? ? 'nowrap' : ''}"}
          /   = image_tag ticket.image.url(:thumb), class: 'img-thumbnail' if ticket.image.present?
          %td.action
            = link_to "", edit_dashboard_ticket_path(ticket), class: 'btn btn-info fa fa-pencil'
            = link_to "", edit_dashboard_ticket_path(ticket, call: true), class: 'btn btn-success fa fa-phone', data: {target: ".call-dialog-#{ticket.id}", "no-turbolink"=>true}

            = link_to "", dashboard_ticket_path(ticket), class: 'btn btn-danger fa fa-trash-o', data: {confirm: "Delete #{ticket.title}?", method: 'delete'}
  .panel-footer
    = will_paginate @tickets, renderer: BootstrapPagination::Rails

= render 'call_dialog'

:coffeescript
  $(document).on "turbolinks:load", ->
    if #{@tickets.where(is_new: true).any?}
      target = $('.call-dialog-#{@tickets.where(is_new: true).last.try(:id)}')
      target.modal('show')