/ Navbar
#navbar.navbar.navbar-default
  = link_to dashboard_path, class: 'navbar-brand' do
    %h2{:style => "font-weight: bold;font-size:40px; margin-top: -13px;margin-left: -20px;"}
      %span.fa.fa-phone{:style => "transform: rotate(47deg);font-size: 31px;margin-right: -19px;"} &#160;
      ReCall

  %ul.nav.navbar-nav.pull-right
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        %b.caret
        %strong Availability
        %span= current_user.get_availability
      %ul.dropdown-menu{style: 'padding: 10px;'}
        %li
          = link_to dashboard_update_availability_path(availability: 'offline'), method: :post do
            %span.fa.fa-certificate{style:'color:gray'}
            %strong online
        %li
          = link_to dashboard_update_availability_path(availability: 'online'), method: :post do
            %span.fa.fa-certificate{style:'color:green'}
            %strong online

    %li.dropdown.user.hidden-xs
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        = image_tag current_user.get_avatar_url, class: 'img-rounded'
        %b.caret
        %strong= "Agent "+current_user.first_name
      %ul.dropdown-menu{style: 'padding: 10px;'}
        %li
          = link_to "Sign out", destroy_user_session_path, method: :delete